<div class="container">
    <div class="show-data" *ngIf="show">
        <div class="top">
            <mat-icon>view_module</mat-icon>
            <h3>Products</h3>
            <input type="text">
            <button (click)="change()">Add New</button>
        </div>
        <div class="show-list">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Pack Size</th>
                    <th>Category</th>
                    <th>MRP</th>
                    <th>image</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr *ngFor="let i of products;let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.packSize}} ml</td>
                    <td>{{i.category}}</td>
                    <td>Rs {{i.MRP}}</td>
                    <td>
                        <img src="{{i.image}}" alt="">
                    </td>
                    <td>{{ i.status ? 'Active' : 'Inactive' }}</td>
                    <td>
                        <button (click)="change()"><mat-icon>edit_square</mat-icon></button>
                        <button (click)="delete(i._id)"><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
            </table>
        </div>
    </div> 
    <div class="form-data" *ngIf="!show">
        <div class="arrow">
            <button (click)="change()"><mat-icon>arrow_back</mat-icon></button>
            <h3>Add Products</h3>
            
        </div>
        <form [formGroup]="productForm" (ngSubmit)="submit(productForm.value)">
            <input type="text" formControlName="name" placeholder="name">
            <input type="text" formControlName="packSize" placeholder="packSize">
            <input type="text" formControlName="category" placeholder="category">
            <input type="text" formControlName="MRP" placeholder="MRP">
            <input type="text" formControlName="image" placeholder="Product Image">
            <select id="status" formControlName="status">
                <option value="" disabled>Status</option>
                <option value="true">Active</option>
                <option value="false">InActive</option>
            </select>
            <div class="btn">
                <button (click)="change()">Cancel</button>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>