<div class="container">
    <!-- <div class="show-data">
        <div class="top">
            <mat-icon>view_module</mat-icon>
            <h3>Category</h3>
            <input type="text">
            <button>Add New</button>
        </div>
        <div class="show-list">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Pack Size</th>
                    <th>Category</th>
                    <th>MRP</th>
                    <th>image</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr>
                    <td>123</td>
                    <td>Amul Taaza</td>
                    <td>500 ml</td>
                    <td>Milk</td>
                    <td>Rs 24</td>
                    <td>
                        <img src="https://s3-alpha-sig.figma.com/img/5717/372d/d1394c21370f384060ae74a34d5b7c03?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XJZWYbMwfvK8xRdTotgKxj9jSxjreHp8UsDme-t5OacQWwk4XnxR70zObGE8QGEiPwwRazjHUYakKWEQUqq~2vEnwo9FxALEkW8-uMQPfbNT7cXpV-KWNHARB1lZ93iWhlrV3xJUaXRxgj0WYtq8yjxN1pJhqTjvqYpxqqiirI2JOBQvra9QOokqeq~ASuCo8Z~50-p~y3-YNFSUaUBW9GmjaI08xVlY2HKUXRY-tQEUremWG0epZL1Qdm7JKcwUoJg3MJ-EPRWXJLt8qa2I614GLVJA3tVWi0DuXnkFuRx5YJ5ViA3OFsON~Gwqogo2prRHF-t-rl5bBoywLVMkyg__" alt="">
                    </td>
                    <td>Active</td>
                    <td>
                        <button><mat-icon>edit_square</mat-icon></button>
                        <button><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
            </table>
        </div>
    </div> -->
    <div class="form-data">
        <h3>Add Category</h3>
        <form>
            <input type="text" placeholder="Category">
            <input type="text" placeholder="Product Name">
            <input type="text" placeholder="Pack Size">
            <input type="text" placeholder="MRP">
            <input type="text" placeholder="Product Image">
            <input type="text" placeholder="Status">
        </form>
        <div class="btn">
            <button>Cancel</button>
            <button>Save</button>
        </div>
    </div>
</div>