<div class="container">
    <div class="show-data" *ngIf="show">
        <div class="top">
            <mat-icon>view_module</mat-icon>
            <h3>Products</h3>
            <input type="text">
            <button (click)="change()">Add New</button>
        </div>
        <div class="show-list">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Pack Size</th>
                    <th>Category</th>
                    <th>MRP</th>
                    <th>image</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr *ngFor="let i of products;let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.packSize}} ml</td>
                    <td>{{i.category.name}}</td>
                    <td>Rs {{i.MRP}}</td>
                    <td>
                        <img src="{{i.image}}" alt="">
                    </td>
                    <td>{{ i.status ? 'Active' : 'Inactive' }}</td>
                    <td>
                        <button (click)="edit(i)"><mat-icon>edit_square</mat-icon></button>
                        <button (click)="delete(i._id)"><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
            </table>
        </div>
    </div> 
    <div class="form-data" *ngIf="!show">
        <div class="arrow">
            <button (click)="change()"><mat-icon>arrow_back</mat-icon></button>
            <h3>Add Products</h3>
            
        </div>
        <form [formGroup]="productForm" (ngSubmit)="submit(productForm.value)">
            <!-- <input type="text" style="display: none;" formControlName="id"> -->
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input type="text" formControlName="name"  matInput required>
                <mat-error *ngIf="productForm.get('name').invalid && productForm.get('name').touched">
                    Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Pack Size</mat-label>
                <input type="text" formControlName="packSize"  matInput required>
                <mat-error *ngIf="productForm.get('packSize').invalid && productForm.get('packSize').touched">
                    packSize is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select formControlName="category" required>
                    <mat-option *ngFor="let cat of category" [value]="cat.name">{{ cat.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="productForm.get('category').invalid && productForm.get('category').touched">
                    category is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>MRP</mat-label>
                <input type="text" formControlName="MRP"  matInput required>
                <mat-error *ngIf="productForm.get('MRP').invalid && productForm.get('MRP').touched">
                    MRP is required
                </mat-error>
            </mat-form-field> 
            <mat-form-field>
                <mat-label>Upload File</mat-label>
                    <div class="box">
                        <input type="file" style="display: none" #fileInput (change)="uploadFile($event)" required>
                        <input matInput [value]="selectedFileName" placeholder="Select a file" readonly required>
                        <button (click)="preventDefaultSubmit($event); fileInput.click()">
                            <mat-icon>upload</mat-icon>
                        </button>
                    </div>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" required>
                    <mat-option value="true">Active</mat-option>
                    <mat-option value="false">Inactive</mat-option>
                </mat-select>
                <mat-error *ngIf="productForm.get('status').invalid && productForm.get('status').touched">
                    status is required
                </mat-error>
            </mat-form-field>
            <div class="btn">
                <button (click)="change()">Cancel</button>
                <button type="submit">{{options}}</button>
            </div>
        </form>
    </div>
</div>