<div class="container">
    <!-- <div class="show-data">
        <div class="top">
            <mat-icon>view_module</mat-icon>
            <h3>Category</h3>
            <input type="text">
            <button>Add New</button>
        </div>
        <div class="show-list">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr>
                    <td>123</td>
                    <td>Milk</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing.</td>
                    <td>Active</td>
                    <td>
                        <button><mat-icon>edit_square</mat-icon></button>
                        <button><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
            </table>
        </div>
    </div> -->
    <div class="form-data">
        <h3>Add Category</h3>
        <form>
            <input type="text" placeholder="Category Name">
            <input type="text" placeholder="Description">
            <input type="text" placeholder="Status">
        </form>
        <div class="btn">
            <button>Cancel</button>
            <button>Save</button>
        </div>
    </div>
</div>