<div class="container">
    <div class="show-data" *ngIf="show">
        <div class="top">
            <mat-icon>view_module</mat-icon>
            <h3>Category</h3>
            <input type="text">
            <button>Add New</button>
        </div>
        <div class="show-list">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr *ngFor="let i of category;let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.description}}</td>
                    <td>{{ i.status ? 'Active' : 'Inactive' }}</td>
                    <td>
                        <button (click)="change()"><mat-icon>edit_square</mat-icon></button>
                        <button (click)="delete(i._id)"><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-data" *ngIf="!show">
        <div class="arrow">
            <button (click)="change()"><mat-icon>arrow_back</mat-icon></button>
            <h3>Add Category</h3>
        </div>
        <form>
            <input type="text" placeholder="Category Name">
            <input type="text" placeholder="Description">
            <input type="text" placeholder="Status">
            <div class="btn">
                <button (click)="change()">Cancel</button>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>