<div class="fullpage">
    <div class="container">
        <div class="logo">
            <img src="https://s3-alpha-sig.figma.com/img/9e94/6a94/4ef20bfd62fdde437d3084005e68980d?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SP0BlV~tF2Q9JtcTiKIl-m2nkvcr2p~Ak~ED~XnuDnRilSAEt1L3TFc6T~n-MDeu8349o4HNa97vz1XGnPKki0GgLutWROBQL9K8W2hYhYfx~Tk2VeZ0OHwMX-EZok4urPAVOCX8B4PmTs0w6Jbab2d3PAXgbc0BnlkaMS1bMerPNFDawLVJkxfW5D~GvdthYLvL3jtEYOIBrYp1nYMiQxgKPI7Qr6dTP2JiTrd06u2akae3SMtqLgtDu1yWJV-v2NBAkNrWf8dfsA8N2vccQj3fwetCcBCSpTWMnLMlCbueFqMtjlL7nWEHN8XTWCIYYt2MYI89EFUWxpKnh-fAIQ__" alt="">
        </div>
        <h2>welcome to Digitalflake Admin</h2>
    </div>
    <form>
        <input type="text">
    </form>
</div>